body {
  font-family: Arial, sans-serif;
  background: #e6e6e6;
  color: #212121;
  padding: 0;
}

#landing-page-header {
  padding: 2rem;
  text-align: center;
}

#open-app-btn, #close-app-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

#open-app-btn {
  background-color: blue;
}

#close-app-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: crimson;
  z-index: 10;
}

#open-app-btn:hover, #close-app-btn:hover {
  opacity: 0.8;
}

#weather-app-container {
  max-width: 768px;
  margin: auto;
  position: relative;
  padding: 1rem;
}

.app-hidden {
  visibility: hidden;
}